body {
    margin: 0 auto;
    background-color: green;
    border: white 10px;
    color: white;
}
h1 {
    font-size: 50px;
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
}
.contenu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex: 1 50%;
    flex-wrap: wrap;
}
.carte {
    width: 21%;
    /*height: 220px;*/
    margin: 10px;
    text-align: center;
}
img {
    height: 100%;
}