body {
    margin: 0 auto;
    background-color: green;
    border: white 10px;
    color: white;
}
h1 {
    font-size: 50px;
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
    margin: 0 auto;
}
.contenu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex: 1 50%;
    flex-wrap: wrap;
}
#entree {
    display: flex;
}
#resultats {
    display: none;
}
#reset {
    visibility: hidden;
}
#cartes {
    display: none;
}
button {
    min-width: 70px;
    padding: 10px;
    height: 40px;
    margin: 5px;
    background: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.carte {
    width: 20%;
    height: 20%;
    /*height: 220px;*/
    margin: 10px;
    text-align: center;
}
img {
    height: 100%;
}
.animation {
    -webkit-animation-name: LefttoRight;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes LefttoRight {
    0%   { left: -999em;}
    100% { left: 0px;}
}